body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:rgb(36, 35, 35);
}
h2{
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clickable {
  cursor: pointer;
}
.add-item-input{
  width: 70%;
  border:none;
  border-bottom: 1px solid rgb(193, 193, 193);

}
.btn-primary {
  background-color:rgb(217, 125, 64) ;
  border:none;
}
.btn-primary:hover {
  background-color:rgb(217, 125, 64) ;
  border:none;
  filter: brightness(1.1);
}
.add-item-btn{
  width: 10%;
  border:none;
  border-radius: 2px;
  border-bottom: 1px solid rgb(193, 193, 193);
    border-bottom: 1px solid rgb(193, 193, 193);
    transition:  0.2s ease; /* Add a smooth transition effect for the text color */

  background-color:rgb(217, 125, 64) ;
  color: rgb(255, 255, 255)
}
.add-item-btn:hover{
  filter: brightness(110%);
}
.hover-bright{
  transition: color 0.2s ease; /* Add a smooth transition effect for the text color */

}
.hover-bright:hover{
  color: rgb(157, 157, 157);
}
.item-text{
  color: rgb(75, 75, 75);

  font-size: 18px;
  display: inline;
   font-weight:500 /* TODO does not work! */
}
.collapse-btn{
  font-size: 11px;
  transition:  0.2s ease; 
  color: rgb(71, 71, 71);
}
.collapse-btn-rotate{
  transform: rotate(90deg);
}
.subitem {
  color: rgb(91, 91, 91);

  transform: scale(0.8);
  width: 100%;
  margin-left: -6rem;
  
}

.done{
  color: rgb(38, 212, 38);
}


.trash{

}
.trash:hover{
  color: rgb(204, 33, 33);
}
.mt-10{
  margin-top: 10rem;
}
.no-decoration{
  text-decoration: none;
}

.count{
  font-size: 12px;
  opacity: 0.5;
  font-weight: 800;
}